extends layout

block content
	ol
		each movie in content
			li= movie.originalTitle
			ul
				li
					img(src=movie.urlPoster, alt=movie.title)
				li= movie.idIMDB
				li= movie.rating
				li= movie.year
				li= movie.simplePlot
				li= releaseDate
				li= metascore
