extends layout

block content
	ol.media-list
		each movie in content
			li.media
				div.media-left
					img(src=movie.urlPoster, alt=movie.title, width='107', height='159')
				div.media-body
					h4.media-heading: strong= movie.ranking + ' ' + movie.title
					p= movie.idIMDB
					p= movie.rating
					p= movie.year
					p= movie.simplePlot
					p= movie.releaseDate
					p= movie.metascore
